{{!< default}}

<main class="site-main tritag-ionizewr">

    {{! Splash screen }}
    <section class="p-outer gh-canvas">
        <div class="p-inner gh-content" style="margin-top: 0">
            <h1 style="display: none">IONize Waterloo Region</h1>
            <img src={{ asset "images/tritag/Ionize-Wide-Train-TRANSPARENT.png" }}>
            <h2 class="accent-color larger">Charge Up Waterloo Region With Transit</h2>
            <p>
            <strong>IONize Waterloo Region</strong> envisions a complete, reliable rapid transit
            network that connects Cambridge, Kitchener, and Waterloo – guiding growth, improving
            access, and strengthening our region. It’s time to build <strong>ION Stage 2</strong>,
            the <span class="accent-color">full LRT extension</span> to Cambridge, and then
            to keep building.
            </p>

            <a class="gh-btn" href="#why-more-ion">Why More ION?</a>
            <a class="gh-btn" href="#how-to-expand-ion">How to Expand ION <em>Effectively</em></a>
            <a class="gh-btn" href="#get-involved">Get Involved!</a>
            <p></p>
        </div>
    </section>

    <header class="feed-header gh-canvas">
        <div class="feed-header-wrapper">
            <h2 class="feed-header-title">Latest IONize Waterloo Region posts</h2>
        </div>
    </header>

    <div class="post-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}} gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{pagination}}

    <section class="p-outer gh-canvas">
        <div class="p-inner gh-content">
            <h2 class="accent-color larger">Our Vision</h2>
            <p class="accent-color">
            We envision a <span class="tg-ionize-primary">Waterloo Region</span> where multiple
            ION lines are part of a <strong>strong transit network</strong> that anchors our
            urban land use and economy, with easy access for people to get across the Region.
            Building on the success of ION Stage 1, it’s time to deliver the promise of that
            network to <span class="tg-ionize-primary">Cambridge</span>.
            </p>
        </div>
    </section>

    <section class="p-outer gh-canvas">
        <div class="p-inner gh-content">
            <figure>
                <img src={{ asset "images/tritag/2048px-ION_-_Waterloo_Ontario_2019-10-11.webp"}} alt="ION train on tracks in Waterloo (Ryan Hodnett, Wikimedia Commons)">
                <figcaption>
                  ION in Waterloo (Ryan Hodnett,
                  <a href="https://commons.wikimedia.org/wiki/File:ION_-_Waterloo,_Ontario_2019-10-11.jpg">Wikimedia Commons</a>)
                </figcaption>
            </figure>
            <h2 class="accent-color larger" id="why-more-ion">Why Build More ION?</h2>

            <div class="p-inner gh-content">
                <h3>ION Stage 1: A Proven Success</h3>
                <p>ION Stage 1 delivered strong results for Kitchener-Waterloo:</p>
                <ul>
                    <li><strong>Economic Growth:</strong>
                         Sparked nearly $5 billion in development along the line.</li>
                    <li><strong>Steady Ridership:</strong>
                        In 2023, ION LRT carried approximately 4.3 million annual
                        rides, translating to roughly 11,780 daily boardings.</li>
                    <li><strong>Land Use:</strong>
                        Since its approval in 2009, nearly 19,000 residential units were
                        built along the corridor.</li>
                </ul>
            </div>

            <div class="p-inner gh-content">
                <h3>ION Stage 2: Shaping the Future of Waterloo Region</h3>
                <p>
                Extending the LRT to <strong>Cambridge</strong> will complete a reliable
                high-quality foundation for the entire Waterloo Region central transit corridor.
                </p>
                <ul>
                    <li><strong>Unlock Economic Opportunities for Cambridge:</strong>
                        Like Stage 1, Stage 2 will unlock major growth along Hespeler Road
                        and in Preston and Galt, bringing new homes, jobs, investment,
                        and placemaking.</li>
                    <li><strong>Transit-Oriented Growth:</strong>
                        As the Region gains population, ION will support more of that growth
                        being in compact, walkable developments with easier car-free access
                        to jobs and amenities.</li>
                    <li><strong>Three Cities, one ION:</strong>
                        Cambridge’s leaders supported ION Stage 1 in part because of the promise
                        of Stage 2. Fulfilling that promise is important for a strong Waterloo
                        Region that sees Cambridge, Kitchener, and Waterloo working together
                        for a shared future.</li>
                </ul>
            <figure>
                <img src={{ asset "images/tritag/Hespeler-Road-Corridor-Secondary-Plan-Dec-5-2022.webp  "}} alt="Land Use Plan from Hespeler Road Corridor Secondary Plan">
                <figcaption>Land Use Plan from Hespeler Road Corridor Secondary Plan</figcaption>
            </figure>

            </div>

            <div class="p-inner gh-content">
                <h3>What Could Stage 3 and Beyond Look Like?</h3>
                <p>A number of ideas have shown up in Region of Waterloo planning concepts:</p>
                <ul>
                    <li><strong>Erb-University-King Corridor:</strong>
                        Connecting the Boardwalk, the Erb Street corridor, the university
                        district, and King Street.</li>
                    <li><strong>Victoria–Highland–Queen Corridor:</strong>
                        A central cross-town route in Kitchener.</li>
                    <li><strong>Ottawa Street Corridor:</strong>
                        A cross-town route in Kitchener, connecting over a new Grand River
                        crossing to the Regional Airport.</li>
                </ul>
                <p>A growing community needs more than just one rapid transit corridor, and
                extending the ION line with additional higher-order lines will help guide more
                of the Region’s growth to be in the form of transit-oriented, walkable
                development, and provide a better connected overall transit network for all of
                us.
                </p>
            <figure>
                <img src={{ asset "images/tritag/concept-system-map2-scaled.webp"}} alt="Concept map for future ION expansion">
                <figcaption>
                  Concept for future ION expansion (u/jdayellow on <a href="https://www.reddit.com/r/waterloo/comments/1f8m1sx/what_do_you_guys_think_of_this_fantasy_waterloo/">r/waterloo</a>)
                </figcaption>
            </figure>

            </div>

        </div>
    </section>

    <section class="p-outer gh-canvas">
        <div class="p-inner gh-content">
            <h2 class="accent-color larger" id="how-to-expand-ion">How Do We Expand ION?</h2>

            <div class="p-inner gh-content">
                <h3>1. In-House Project Team</h3>
                <p>
                  Create and maintain a <strong>public transit infrastructure team</strong>
                  responsible for managing and delivering transit projects efficiently and
                  consistently. This enables less reliance on consultants for core project
                  management and more cost- and schedule-effective procurement.
                </p>
                <p>
                  Building in-house capacity would help get ION stage 2 built, and we would
                  be able to leverage the expertise to continue efficient transit expansion.
                </p>
            </div>

            <div class="p-inner gh-content">
                <h3>2. Build Incrementally</h3>
                <p>
                  Secure funding for the entire route, but build in <strong>tighter increments to
                  create momentum</strong> and iterate on project delivery. For example:
                </p>
                <ul>
                    <li>Fairway → Sportsworld</li>
                    <li>Sportsworld → Preston</li>
                    <li>Preston → Pinebush</li>
                    <liPinebush → Downtown Cambridge</li>
                </ul>
                <p>
                  Different segments can be delivered in smaller, more manageable contracts
                  by multiple firms, creating opportunities for local contractors to grow
                  their transit expertise, providing a more competitive bidding environment,
                  and allowing more options for the Region if a contractor isn’t getting it done.
                </p>
            </div>

            <div class="p-inner gh-content">
                <h3>3. Keep Going</h3>
                <p>Once ION light rail reaches Downtown Cambridge, <strong>we shouldn’t stop.
                   </strong></p>
                <p>With the momentum and expertise from Stage 2, Waterloo Region should
                   continue transit expansion</p>
                <ul>
                    <li>Build more lines to maximize access.</li>
                    <li>Extend lines and add stations on existing sections where warranted.</li>
                    <li>Prepare for future intercity rail connections, or even build some ourselves.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="p-outer gh-canvas">
        <div class="p-inner gh-content">
            <h2 class="accent-color highlight" id="get-involved">Get Involved. Take Action!</h2>

            <div class="p-inner gh-content">
                <h3>1️⃣  Stay Informed</h3>
                <p>Follow TriTAG on <a href="https://www.instagram.com/tritag.ca/">social</a>
                   <a href="https://bsky.app/profile/tritag.ca">media</a> or
                   sign up for our newsletter to stay up to date on our initiatives and
                   opportunities to make your voice heard.</p>
                <a class="gh-btn" href="/subscribe/">Sign up for the IONizeWR newsletter</a>
            </div>

            <div class="p-inner gh-content .right-align">
                <h3>2️⃣ Voice Your Support</h3>
                <p>
                  Voice your support to future ION stages by following and completing surveys
                  on the project on EngageWR, emailing your Regional Councillors, and showing
                  up at public meetings.
                </p>
                <a class="gh-btn" href="https://www.engagewr.ca/stage2ION" target="_blank">ION Stage 2 on EngageWR ↗</a>
                <a class="gh-btn" href="https://www.regionofwaterloo.ca/en/regional-council-members.aspx" target="_blank">Contacting Regional Councillors ↗</a>
            </div>

            <div class="p-inner gh-content">
                <h3>3️⃣ Volunteer</h3>
                <p>
                  TriTAG is always looking for passionate individuals who want to get
                  involved with our group. Email us at <a href="mailto:volunteer@tritag.ca">volunteer@tritag.ca</a>
                  and tell us about your interest, skills, and availability.
                </p>
                <a class="gh-btn" href="mailto:volunteer@tritag.ca" target="_blank">Email volunteer@tritag.ca ↗</a>
            </div>

        </div>
    </section>

</main>
