{{!< default }}

<div class="gh-canvas">
<div class="p-inner gh-content">

{{#unless @member}}

<form data-members-form="subscribe" class="tritag-signup-form">
    <header><h1 >{{@site.title}}</h1></header>
    <section>
        <div class="signin-pointer">
          <p>Already have an account? <a href="/#/portal/signin">Sign in with your email</a></p>
        </div>

        <div>
            <section class="field-container">
                <div class="field-label-container"><label for="input-name" class="input-label"> Name </label></div>
                <input data-members-name id="input-name" type="text" name="name" placeholder="Jamie Larson" tabindex="1" autocomplete="off" autocorrect="off" autocapitalize="" aria-label="Name" value="">
            </section>
            <section class="field-container">
                <div class="field-label-container"><label for="input-email" class="input-label"> Email </label></div>
                <input data-members-email id="input-email" type="email" name="email" placeholder="jamie@example.com" tabindex="2" autocomplete="off" autocorrect="off" autocapitalize="none" aria-label="Email" value="">
            </section>

            <fieldset class="location field-container">
              <legend>Select your city or township:</legend>

              <div>
                <input class="radio" type="radio" id="kitchener" name="city" value="Kitchener"/>
                <label for="kitchener">City of Kichener</label>
              </div>

              <div>
                <input class="radio" type="radio" id="waterloo" name="city" value="Waterloo"/>
                <label for="waterloo">City of Waterloo</label>
              </div>

              <div>
                <input class="radio" type="radio" id="cambridge" name="city" value="Cambridge"/>
                <label for="cambridge">City of Cambridge</label>
              </div>

              <div>
                <input class="radio" type="radio" id="north-dumfries" name="city" value="North Dumfries"/>
                <label for="north-dumfries">North Dumfries</label>
              </div>

              <div>
                <input class="radio" type="radio" id="wellesley" name="city" value="Wellesley"/>
                <label for="wellesley">Wellesley</label>
              </div>

              <div>
                <input class="radio" type="radio" id="wilmot" name="city" value="Wilmot"/>
                <label for="Wilmot">Wilmot</label>
              </div>

              <div>
                <input class="radio" type="radio" id="woolwich" name="city" value="Woolwich"/>
                <label for="woolwich">Woolwich</label>
              </div>

              <div>
                <input class="radio" type="radio" id="external" name="city" value="Non-WR Resident"/>
                <label for="external"><span style="color: var(--ghost-accent-color)">I don't live in Waterloo Region</span></label>
              </div>
            </fieldset>

            <fieldset class="newsletters field-container">
              <legend>Which newsletters would you like to subscribe to?</legend>
              {{#get "newsletters"}}
                  {{#foreach newsletters}}
                    <div>

                    <label>
                      <input class="radio" type="checkbox" value="{{name}}" onChange="this.toggleAttribute('data-members-newsletter')"/>
                      <span>{{name}}</span>
                      <p class="description">{{description}}</p>
                    </label>

                    </div>
                  {{/foreach}}
              {{/get}}
            </fieldset>
            <button class="signup-btn" style="color: white; background-color: var(--ghost-accent-color); width: 100%;" type="submit" tabindex="3">Subscribe</button>
        </div>

        <div class="status">
            <p class="loading">Processing, please wait.</p>
            <p class="error">Something's gone wrong.</p>
            <p class="success">Success! Check your inbox for an email.</p>
        </div>
        <p data-members-error></p>
        <div class="signin-pointer">
          <p>Already have an account? <a href="/#/portal/signin">Sign in with your email</a></p>
        </div>

    </section>
</form>

<script>
const locationInputs = document.querySelectorAll("fieldset.location input");
locationInputs.forEach((e) => {
  e.addEventListener("input", (e) => {
    // Remove existing label data attributes.
    locationInputs.forEach((inp) => inp.removeAttribute("data-members-label"))
    // Add the right label.
    e.srcElement.setAttribute("data-members-label", "");
  });
});
// HACK: auto-select the main TriTAG list
const newsletterInputs = document.querySelectorAll("fieldset.newsletters input");
newsletterInputs[0].click();

</script>

{{else}}
    <p>You're already signed in, you can <a href="#/portal/account" data-portal="account"> manage your subscription</a>.</p>
{{/unless}}

</div>
</div>
